.App{
  padding: 50px;
}

header{
  display: flex;
  flex-direction: row;
  place-items: center;
  gap: 15px;
}

.accent-color-lighter{
  color: var(--accent-color-lighter);
}

.logo-image{
  border-radius: 5px;
}