/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/* General Reset */
*{
  box-sizing: border-box;
  text-size-adjust: none;
  margin: 0;
  padding: 0;
}

/* ROOT Variables */

:root{
  --text-font:'M PLUS Rounded 1c', sans-serif;
  --code-font:'Fira Code', monospace;
  --full-height:100svh;
  --full-width:100%;

  --accent-color:#6a9955;
  --accent-color-lighter:#83c265;
  --background-color: #202124;
  --foreground-color: #202020;
  --overground-color: #353535;
  --text-color:#f6f6f6;
  --comment-color:#6a9955;
} 

:root[data-color-mode="dark"]{
  --accent-color:#6a9955;
  --accent-color-lighter:#83c265;
  --background-color: #202124;
  --foreground-color: #202020;
  --overground-color: #353535;
  --text-color:#f6f6f6;
  --comment-color:#6a9955;

} 

:root[data-color-mode="light"]{
  --accent-color:#FFFFFF;
  --accent-color-lighter:#FFFFFF;
  --background-color: #1b5e20;
  --foreground-color: #FFFFFF;
  --overground-color: #FFFFFF;
  --text-color:#000000;
  --comment-color:#989898;
}
 

/* ScrollBar */
::-webkit-scrollbar {
  display: none;
}

/* Selection Color */
::selection{
  background-color: #83c26580;
}

input[type="search"]::-webkit-search-cancel-button{
  appearance: none;
}



/* Body Optimising */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  height: var(--full-height);
  width: var(--full-width);
  background-color: var(--background-color);
  font-family: var(--text-font);
  font-size:1rem;
  color: var(--text-color);
}

code {
  font-family: var(--code-font)
}

div, section, article {
  transition: background 200ms ease-in-out;
}

@media (max-width:500px){
  body{font-size: 0.8rem;}
}
